#container {
	width: 300px;
	margin: 50px auto;
}

h2 {
  font-size: 41;
}

.lead {
  font-size: 41;
  text-align: center;
}

table {
	display: block;
	width: 400px;
	border: 1px solid #dddddd;
  clear: both;
  border-radius: 4px;
}

td {
	width: 90px;
	height: 70px;
	border: 1px solid #dddddd;
	padding: 5px;
  font-size: 30px;
  color: gray;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#reset {
  float: left;
  margin-bottom: 20px;
}

#timer {
  float: right;
  color: green;
  font-size: 20px;
}

#win {
  position: relative;
  top: 120px;
  font-size: 20px;
  font-weight: bold;
  color: #FF5200;
}

#win span {
  width: 200px;
  height: 30px;
  font-size: 32px;
  left: 50px;
  position: absolute;
  text-shadow: 2px 2px 2px #FFF, 0 2px 18px #808080;
}


.hidden {
	display: none;
}

.match {
  color: green;
  text-shadow: 2px 2px 2px #D3D3D3;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}