#container {
	width: 300px;
	margin: 50px auto;
}

table {
	display: block;
	width: 200px;
	border: 1px solid black;
  clear: both;
}

td {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	padding: 5px;
  font-size: 30px;
  text-align: center;
}

#reset {
  float: left;
}

#timer {
  float: left;
}

.hidden {
	display: none;
}

.match {
  color: green;
}